@use "./forward" as *;
@use "sass:map";

.main {
}

@include mediaquery(smartphone) {
    $layout: smartphone;

    .main {
    }
}

@include mediaquery(tablet) {
    $layout: tablet;

    .main {
    }
}

@include mediaquery(desktop) {   
    $layout: desktop;

    .main {
     }
}